<div class="text-layout">
  <h1>Pipes Básicos</h1>
  <p>Pipes incluídos en Angular - Usualmente en el Common Module.</p>
</div>

<div class="grid">
  <div class="col-4">
    <p-card header="Uppercase" subheader="Variable: {{ nombreLower }}">
      Pipe: {{ nombreLower | uppercase }}
    </p-card>
  </div>
  <div class="col-4">
    <p-card header="Lowercase" subheader="Variable: {{ nombreUpper }}">
      Pipe: {{ nombreUpper | lowercase }}
    </p-card>
  </div>
  <div class="col-4">
    <p-card header="Titlecase" subheader="Variable: {{ nombreCompleto }}">
      Pipe: {{ nombreCompleto | titlecase }}
    </p-card>
  </div>
</div>
